#######################################################
#                                                     #
#   o-o                              o          o     #
#  |                                 |          |     #
#   o-o  o-o  o-o o   o   o o  o     |      oo  O-o   #
#      | |  | | |  \ / \ /  |  |     |     / |  |  |  #
#  o--o  o  o o-o   o   o   o--O     O---o o-o- o-o   #
#                              |                      #
#                           o--o                      #
#                                                     #
#######################################################

{ config, pkgs, ... }:

{
  imports =
    [ # Include the results of the hardware scan.
      ./hardware-configuration.nix
    ];

  {{ if .IsEfi }}
  boot.loader.systemd-boot.enable = true; # (for UEFI systems only)
  {{ else }}
  boot.loader.grub.enable = true;
  boot.loader.grub.device = "/dev/{{ .DiskName }}";
  {{ end }}

  # boot.loader.grub.efiSupport = true;
  # boot.loader.grub.efiInstallAsRemovable = true;
  # boot.loader.efi.efiSysMountPoint = "/boot/efi";

  networking.hostName = "{{ .Hostname }}";

  # Define a user account
  users.mutableUsers = false;
   users.users.{{ .Username }} = {
    isNormalUser = true;
    extraGroups = [ "wheel" "networkmanager" ];
     passwordFile = "/etc/passwordFile-{{ .Username }}";
  };
  # Disable password-based login for root.
  users.users.root.hashedPassword = "!";
  
  environment.systemPackages = with pkgs;[
    iwd
  ];

  system.stateVersion = "23.05"; 
}
