{
  description = "Machine images configurations";
  inputs = {
    nixpkgs.url = "github:wexder/nixpkgs/netclient";
    config = {
      url = "github:wexder/snowy-lab";
    };
  };
  outputs = { self, nixpkgs, config }: {
    nixosConfigurations = config.nixosConfigurations;
  };
}
